{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
<div class="container">
	<h1>Timeline</h1>
	<table class="statuses_list">
		<thead>
			<tr>
				<th>Content</th>
				<th>Deleted</th>
				<th>CreatedAt</th>
			</tr>
		</thead>
		<tbody>
			{% for status in statuses %}
				<tr>
					<td>{{ status.content }}</td>
					<td>{{ status.deleted ? "supprime" : "visible"}}</td>
					<td>{% if status.createdAt %}
							{{ status.createdAt | date('Y-m-d H:i:s') }}
						{% endif %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}