<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url('tech_corp_front_homepage') }}">Project name</a>
			<ul class="nav navbar-nav">
				<li><a href="{{ url('tech_corp_front_homepage') }}">Accueil</a></li>
				<li><a href="{{ url('tech_corp_front_about') }}">A propos</a></li>
			</ul>
		</div>
	</div>
</div>