<h1>Login</h1>
<form action="{{ path('tech_corp_front_security_login_check') }}" method="POST">
	<label for="username">Nom d'utilisateur:</label>
	<input type="text" id="username" name="_username" />

	<label for="password">Mot de passe: </label>
	<input type="password" id="password" name="_password" />
	
	<button type="submit">Login</button>
</form>