{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>{{ 'about_page.title'|trans }}</h1>
			<p>{{ 'about_page.content'|trans }}</p>
		</div>
	</div>
{% endblock content %}