{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Hello World!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="{{ url('tech_corp_front_about') }}">En savoir plus</a></p>
		</div>
	</div>
{% endblock content %}